*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
}
.profile{
    position: relative;
    left: 30%;
}
.line-login{
    margin-top: 14px;
}
.login-navbar{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 0%;

}
.other-source{
    margin-top: 20%;
    margin-left: -71%;
}